body{
    background-color: #084d6e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 600px;
}

.title {
    
    background-color: whitesmoke;
    height: 100px;
    font-size: 25px;
    border: 10px solid aquamarine;
    margin-bottom: 10px;
}

.title h1,
.title h2 {
  padding-left: 100px;
  margin: 5px;
}

.title h2 {
  font-size: 18px;
  font-weight: bold;
  font-size: 20px;
}

.ulbody {
    font: bold;
    font-size: 18px;
    background-color: whitesmoke;
}

.ulbody a, 
.ulbody li {
    color: navy;
    font-weight: bold;
    padding: 2px;
}

.ulbody a :hover, 
.ulbody li :hover{
    color: darkorchid;
    font-weight: bold;
    padding: 2px;
}

.title .beancream {
    font-size: 40px;
    padding-top: 15px;
    padding-left: 80px;
}

.title .broncotacos {
    font-size: 40px;
    padding-top: 15px;
    padding-left: 130px;
}

.title .chilaquiles {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 40px;
}

.paragraph {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
}

.imgframe {
    border: 5px solid aquamarine;
    padding: 5px;
    background-color: white;
    width: 300;
    height: auto;
    margin-bottom: 10px;
}

.button {
    background-color: gold;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
}